<ion-view>
    <ion-side-menus enable-menu-with-back-views="false">
      	<!-- Main view -->
      	<ion-side-menu-content>
	
	      	<ion-nav-bar class="bar-stable has-tabs-top">
		      	<ion-nav-back-button>
		      	</ion-nav-back-button>
		      	
		      	<!-- Toggle side-menu button -->
		      	<ion-nav-buttons side="left">
		      		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		      		</button>
		      	</ion-nav-buttons>	      	  
	      	</ion-nav-bar>

	        <!-- Menu content -->
	        <ion-tabs class="tabs-striped tabs-top tabs-background-stable tabs-color-dark">

	        	<ion-tab title="Mis perros">
	        		<ion-nav-view name="menuContent"></ion-nav-view>
	        	</ion-tab>

	          	<ion-tab title="Perros perdidos">
	          		<!-- Aca va la lista de perros perdidos -->
	          	</ion-tab>
	          	
	        </ion-tabs>
        </ion-side-menu-content>

    	<!-- Left Menu -->
    	<ion-side-menu side="left">
    	  	<ion-header-bar align-title="left" class="bar-stable">
    	    	<h1 class="title">{{menuTitle}}</h1>
    	  	</ion-header-bar>

   			<ion-content>
   		  		<!-- Menu Options -->
   		    	<ion-list>
   		      		<!--<ion-item href="#"> Perros perdidos </ion-item>-->
   		      		<ion-item href="#"> Perfil </ion-item>
                <ion-item href="#/app/notifications"> Notificaciones </ion-item>
   		      		<ion-item href="#"> Ajustes </ion-item>
   		      		<ion-item href="#"> Preguntas Frecuentes </ion-item>
   		      		<ion-item href="#"> Acerca de SafePet </ion-item>
   		      		<ion-item ng-click="logout()"> Logout </ion-item>
   		    	</ion-list>
   		  	</ion-content>
   		</ion-side-menu>
    </ion-side-menus>
</ion-view>