<ion-view view-title="Cambiar Dueño">
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap">
				<i class="ion-alert-circled" style="color:red;"></i> Puedes cambiar de dueño el algún otro usuario de Safepet, solo necesitas ingresar su correo y confirmar el cambio. Debes estar seguro, ya que puede ser un cambio irreversible.
		 	</div>
		</div>
		<form ng-submit="change(user)">
			<div class="list">
		        <label class="item item-input item-floating-label">
					<span class="input-label">Email</span>
	      			<input type="text" placeholder="Email" ng-model="user.email">
			    </label>
			</div>
			<div class="padding">
		        <button type="submit" class="button button-block button-positive">Cambiar</button>
			</div>
	</ion-content>
</ion-view>