<ion-view view-title="Perfil">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="">
          <h2>{{nickname}}</h2>
      </div>
      <a class="item item-body" href="#/app">
        Mis perros
        <span class="badge badge-positive">{{ dogs.length }}</span>
      </a>
      <div class="item item-body">
        Datos personales
        <div class="item item-body">
          Direccion
          <span class="item-note">{{datos.address}}</span>
        </div>
        <div class="item item-body">
          Num Telefonico
          <span class="item-note">{{datos.phoneNumber}}</span>
        </div>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#/app/edit">
          <i class="icon ion-edit"></i>
            Editar
        </a>
      </div>
    </div>
  <ion-content>
<ion-view>
