<ion-view view-title="Perfil">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="{{User.picture}}">
          <h2>{{User.displayName}}</h2>
      </div>
      <div class="item item-body">
        Datos personales
        <div class="item item-body">
          Correo
          <span class="item-note">{{User.email}}</span>
        </div>
        <div class="item item-body">
          Direccion
          <span class="item-note">{{User.address}}</span>
        </div>
        <div class="item item-body">
          Num Telefonico
          <span class="item-note">{{User.phone}}</span>
        </div>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a ng-if="User.id == userId" class="button button-block button-clear icon ion-edit" href="#/app/edit">
            Editar
        </a>
      </div>
    </div>
  <ion-content>
<ion-view>
