<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="safePet">

    <ion-side-menus>
      <!-- Main view -->
      <ion-side-menu-content>
        <ion-header-bar class="bar-stable">
          <!-- Toggle side-menu button -->
          <button class="button button-icon" menu-toggle="left">
            <i class="icon ion-android-menu"></i>
          </button>

          <h1 class="title">SafePet</h1>

          <!-- New dog button-->
          <button class="button button-icon" ng-click="">
            <i class="icon ion-plus"></i>
          </button>
        </ion-header-bar>

        <!-- Main dog list -->
        <ion-content>
          <ion-list ng-controller="mainListController">
            <ion-item  class="item-thumbnail-left" ng-repeat="dog in dogs">
            <img ng-src="{{dog.photo}}">
            <h2>{{dog.name}}</h2>
            <p>{{dog.breed}}</p>     
            </ion-item>
          </ion-list>
        </ion-content>

        <!-- Nose scan Button -->
        <ion-footer-bar align-title="left" class="bar-balanced">
          <h1 class="title">
            <button class="button button-clear">
              <i class="icon ion-android-camera"></i> Escanear nariz
            </button>
          </h1>
        </ion-footer-bar>  
      </ion-side-menu-content>

      <!-- Left Menu -->
      <ion-side-menu side="left">
        <ion-header-bar align-title="left" class="bar-stable">
          <h1 class="title">John Doe</h1>
        </ion-header-bar>

        <ion-content>
        <!-- Menu Options -->
          <ion-list>
            <ion-item> Perfil </ion-item>
            <ion-item> ajustes </ion-item>
            <ion-item> Preguntas Frecuentes </ion-item>
            <ion-item> Acerca de SafePet </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>
  </body>
</html>
