<ion-view>
  	<ion-content class="padding">
  		<div class="row">
	  		<div class="col text-center">
	  			<form ng-submit="login(user)" method="post">
	  				<h3>Iniciar Sesión</h3>
		  			<div class="list list-inset">
		  				<label class="item item-input">
		  					<input type="email" placeholder="Email" ng-model="user.email">
		  				</label>
		  				<label class="item item-input">
		  					<input type="password" placeholder="Contraseña" ng-model="user.password">
		  				</label>
		  			</div>
		  		  <div class="padding">
              <button type="submit" class="button button-block button-positive">Acceder</button>

            </div>
          </form>
          <p><button ng-click="authenticate('facebook')" class="button button-block icon-left ion-social-facebook">Facebook Login</button></p>
          <p><button ng-click="authenticate('twitter')" class="button button-block icon-left ion-social-twitter">Twitter Login</button></p>
          <button class="button button-block button-positive" ng-click="newUser()">Registrarse</button>
	  		</div>
  		</div>
  	</ion-content>
  	<!-- New user modal script -->
  	<script id="newUser.html" type="text/ng-template">
  	    <div class="modal">
  	        <!-- Modal header bar -->
  	        <ion-header-bar class="bar-secondary">
  	            <h1 class="title">Registro</h1>
  	            <button class="button button-clear button-positive" ng-click="closeNewUser()">Cancelar</button>
  	        </ion-header-bar>

  	        <!-- Modal content area -->
  	        <ion-content>
  	            <form ng-submit="signup(user)" method="post">
  	                <div class="list">
  	                    <label class="item item-input">
  	                        <input type="text" placeholder="Nombre completo" ng-model="user.displayName">
  	                    </label>
  	                    <label class="item item-input">
  	                        <input type="email" placeholder="Email" ng-model="user.email">
  	                    </label>
  	                    <label class="item item-input">
  	                        <input type="password" placeholder="Contraseña" ng-model="user.password">
  	                    </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Telefono" ng-model="user.phone">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Dirección" ng-model="user.address">
                        </label>
  	                </div>
  	                <div class="padding">
  	                    <button type="submit" class="button button-block button-positive">Registrarse</button>
  	                </div>
  	            </form>
  	        </ion-content>
  	    </div>
  	</script>  
</ion-view>