<ion-view view-title="Detalle">
	<ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="editDog()">
            Editar
        </button>
    </ion-nav-buttons>
	<ion-content>
		<div class="list card">
			<div class="item item-avatar">
				<img src="">
				<h2>{{dog.name}}</h2>
			</div>
			<div class="item item-body">
				Color: {{dog.color}}
			</div>
			<div class="item item-body">
				Raza: {{dog.breed}}
			</div>
			<div ng-hide="dog.lost" class="item item-body">
				Estado: Con su dueño
			</div>
			<div ng-hide="!dog.lost" class="item item-body">
				Estado: Perdido
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left">
				<button ng-hide="dog.lost" class="button button-block button-energized" ng-click="lostDog()"><i class="ion-information-circled"></i>Perdido</button>
			
				<button ng-hide="!dog.lost"class="button button-block button-balanced" ng-click="foundDog()"><i class="ion-information-circled"></i>Encontrado</button>
			</div>
		</div>
	   <!-- Lost dog modal script -->
	    <script id="lostDog.html" type="text/ng-template">
	        <div class="modal">
	            //<!-- Modal header bar -->
	            <ion-header-bar class="bar-secondary">
	                <h1 class="title">Reportar perdida</h1>
	            </ion-header-bar>

	            //<!-- Modal content area -->
	            <ion-content>
	                <div class="padding">
	                	<p>¿Esta seguro?</p>
	                	<button class="button button-clear button-positive" ng-click="reportLostDog()">Aceptar</button>
	                	<button class="button button-clear button-assertive" ng-click="closeLostDog()">Cancelar</button>
	                </div>
	            </ion-content>
	        </div>
	    </script> 

	   <!-- Found dog modal script -->
	    <script id="foundDog.html" type="text/ng-template">
	        <ion-modal-view>
	            //<!-- Modal header bar -->
	            <ion-header-bar class="bar-secondary">
	                <h1 class="title">Mascota encontrada</h1>
	            </ion-header-bar>

	            //<!-- Modal content area -->
	            <ion-content>
	                <div class="padding">
	                	<p>¿Haz encontrado a tu mascota?</p>
	                	<button class="button button-clear button-positive" ng-click="reportLostDog()">Si</button>
	                	<button class="button button-clear button-assertive" ng-click="closeFoundDog()">Cancelar</button>
	                </div>
	            </ion-content>
	        </ion-modal-view>
	    </script>

	    <script id="editDog.html" type="text/ng-template">
	    	<ion-modal-view>
	    		<ion-header-bar class="bar-secondary">
	    			<h1 class="title">Editar Mascota</h1>
	    			<button class="button button-clear button-assertive" ng-click="closeEditDog()">Cancelar</button>
	    		</ion-header-bar>
	    		<ion-content>
	    			<button class="button button-assertive" ng-click="deleteDog()"><i class="ion-close-round"></i>Eliminar</button>
	    		</ion-content>
	    	</ion-modal-view>
	    </script>   
	</ion-content>
</ion-view>