<ion-view view-title="Detalle">
	<ion-content>
		<ion-list>
			<ion-item>
				Nombre: {{dog.name}}
			</ion-item>
			<ion-item>
				Color: {{dog.color}}
			</ion-item>
			<ion-item>
				Raza: {{dog.breed}}
			</ion-item>
			<ion-item ng-hide="dog.lost">
				Estado: Con su dueño
			</ion-item>
			<ion-item ng-hide="!dog.lost">
				Estado: Perdido
			</ion-item>
		</ion-list>
		<button class="button button-clear button-assertive" ng-click="deleteDog()">Eliminar</button>
		<button ng-hide="dog.lost" class="button button-clear button-energized" ng-click="lostDog()">Reportar perdida</button>
		<button ng-hide="!dog.lost"class="button button-clear button-balanced" ng-click="foundDog()">Reportar perro encontrado</button>

	   <!-- Lost dog modal script -->
	    <script id="lostDog.html" type="text/ng-template">
	        <div class="modal">
	            <!-- Modal header bar -->
	            <ion-header-bar class="bar-secondary">
	                <h1 class="title">Reportar perdida</h1>
	            </ion-header-bar>

	            <!-- Modal content area -->
	            <ion-content>
	                <div class="padding">
	                	<p>¿Esta seguro?</p>
	                	<button class="button button-clear button-positive" ng-click="reportLostDog()">Aceptar</button>
	                	<button class="button button-clear button-assertive" ng-click="closeLostDog()">Cancelar</button>
	                </div>
	            </ion-content>
	        </div>
	    </script> 

	   <!-- Found dog modal script -->
	    <script id="foundDog.html" type="text/ng-template">
	        <div class="modal">
	            <!-- Modal header bar -->
	            <ion-header-bar class="bar-secondary">
	                <h1 class="title">Mascota encontrada</h1>
	            </ion-header-bar>

	            <!-- Modal content area -->
	            <ion-content>
	                <div class="padding">
	                	<p>¿Haz encontrado a tu mascota?</p>
	                	<button class="button button-clear button-positive" ng-click="reportLostDog()">Si</button>
	                	<button class="button button-clear button-assertive" ng-click="closeFoundDog()">Cancelar</button>
	                </div>
	            </ion-content>
	        </div>
	    </script>   
	</ion-content>
</ion-view>