<!-- Menu content -->
<ion-view view-title="SafePet">
    <!-- New dog Button -->
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="newDog2()">
            <i class="icon ion-plus"></i>
        </button>
    </ion-nav-buttons>
    <ion-tabs class="tabs-striped tabs-top tabs-background-stable tabs-color-dark">
        <ion-tab title="Mis perros">
            <!-- Main dog list -->
            <ion-view>
                <ion-content>
                    <ion-list>
                        <ion-item class="alt item-thumbnail-left" ng-repeat="dog in dogs" href="#/app/{{dog._id}}">
                            <img ng-src="{{dog.photo}}">
                            <h2>{{dog.name}}</h2>
                            <p>{{dog.breed}}</p>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="Perros perdidos">
            <!-- Lost dogs list -->
            <ion-view>
                <ion-content>
                <ion-refresher
                    pulling-text="Arrastra para recargar"
                    on-refresh="doRefresh()">
                </ion-refresher>
                    <ion-list>
                        <ion-item class="alt item-thumbnail-left" ng-repeat="dog in lostdogs" href="#/app/{{dog._id}}">
                            <img ng-src="{{dog.photo}}">
                            <h2>{{dog.name}}</h2>
                            <p>{{dog.breed}}</p>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>                
    </ion-tabs>
    <script id="newDog2.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar-secondary">
                <h1 class="title">Agregar</h1>
                <button class="button button-clear button-positive" ng-click="closeNewDog2()">Cancelar</button>
            </ion-header-bar>
            <ion-content>
                <div class="padding">
                    <h2 class="title">Instrucciones:</h2>
                </div>
                <ion-list>
                    <ion-item><p>Ingrese los datos del Perro</p></ion-item>
                    <ion-item><p>Tome una foto de la nariz del perro</p></ion-item>
                    <ion-item><p>Recorte el área de la nariz</p></ion-item>
                    <ion-item><p>Lo anterior se hace 3 veces</p></ion-item>
                    <ion-item><p>Espere a que se validen las imágenes</p></ion-item>
                    <ion-item><p>Tome una foto del Perro (perfil)</p></ion-item>
                </ion-list>
                <div class="padding">
                    <button class="button button-block button-positive" ng-click="newDog()">Entendido</button>
                </div>
        </ion-modal-view>
    </script>
    <!-- New dog modal script -->
    <script id="newDog.html" type="text/ng-template">
        <ion-modal-view>
            <!-- Modal header bar -->
            <ion-header-bar class="bar-secondary">
                <h1 class="title">Nuevo perro</h1>
                <button class="button button-clear button-positive" ng-click="closeNewDog()">Cancelar</button>
            </ion-header-bar>

            <!-- Modal content area -->
            <ion-content>
                <form ng-submit="createDog(dog)">
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="Nombre" ng-model="dog.name">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Raza" ng-model="dog.breed">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Color" ng-model="dog.color">
                        </label>
                    </div>
                    <div class="padding">
                        <img ng-src="{{lastPhoto}}" style="max-width: 100%">
                    </div>
                    <div class="padding">
                        <button type="submit" class="button button-block button-positive">Agregar</button>
                    </div>
                </form>
                <button ng-click="getPhoto(true)" class="button button-block button-primary">Foto!</button>
                <button class="button button-full button-positive" ng-click="getImageGalery()">
                    Subir imágenes desde la Galería
                </button>
                <button class="button button-full button-positive" ng-click="fileUpload(false)">
                    Guardar Foto
                </button>
            </ion-content>
        </ion-modal-view>
    </script>  

    <!-- NgImgCrop modal script -->
    <script id="imgCrop.html" type="text/ng-template">
        <div class="modal">
            <!-- Modal header bar -->
            <ion-header-bar class="bar-secondary">
                <h1 class="title">Escanear nariz</h1>
                <button class="button button-clear button-positive" ng-click="closeCrop()">Cancelar</button>
            </ion-header-bar>

            <!-- Modal content area -->
            <ion-content>
                <div class="cropArea">
                    <img-crop image="myImage" result-image="myCroppedImage" area-type="circle"></img-crop>
                </div>
                <div class="padding">Resultado:</div>
                <img ng-src="{{myCroppedImage}}">
                <button class="button button-full button-positive" ng-click="fileUpload()">Guardar</button>
            </ion-content>
        </div>
    </script>
    <!-- Nose scan Button -->
    <ion-footer-bar align-title="center" class="bar-balanced">
        <h1 class="title">
            <button class="button button-clear" ng-click='crop()'>
                <i class="icon ion-android-camera"></i> Escanear nariz
            </button>
        </h1>
    </ion-footer-bar>
</ion-view>