<!-- Menu content -->
<ion-view view-title="SafePet">
    <!-- New dog Button -->
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="newDog2()">
            <i class="icon ion-plus"></i>
        </button>
    </ion-nav-buttons>
    <ion-tabs class="tabs-striped tabs-top tabs-background-stable tabs-color-dark">
        <ion-tab title="Mis perros">
            <!-- Main dog list -->
            <ion-view>
                <ion-content>
                    <div ng-if="dogs.length">
                        <ion-list>
                            <ion-item class="alt item-thumbnail-left" ng-repeat="dog in dogs" href="#/app/{{dog._id}}">
                                <img ng-src="{{dog.photo}}">
                                <h2>{{dog.name}}</h2>
                                <p>{{dog.breed}}</p>
                            </ion-item>
                        </ion-list>
                    </div>
                    <div ng-if="!dogs.length">
                        <div class="row">
                            <div class="col col-33 col-offset-33">No hay contenido para mostrar</div>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="Perros perdidos">
            <!-- Lost dogs list -->
            <ion-view>
                <ion-content>
                    <ion-refresher
                        pulling-text="Arrastra para recargar"
                        on-refresh="doRefresh()">
                    </ion-refresher>
                    <div ng-if="lostdogs.length">
                        <ion-list>
                            <ion-item class="alt item-thumbnail-left" ng-repeat="dog in lostdogs" href="#/app/{{dog._id}}">
                                <img ng-src="{{dog.photo}}">
                                <h2>{{dog.name}}</h2>
                                <p>{{dog.breed}}</p>
                            </ion-item>
                        </ion-list>
                    </div>
                    <div ng-if="!lostdogs.length">
                        <div class="row">
                            <div class="col col-33 col-offset-33">No hay contenido para mostrar</div>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>                
    </ion-tabs>
    <script id="newDog2.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar-secondary">
                <h1 class="title">Agregar</h1>
                <button class="button button-clear button-positive" ng-click="closeNewDog2()">Cancelar</button>
            </ion-header-bar>
            <ion-content>
                <div class="padding">
                    <h2 class="title">Instrucciones:</h2>
                </div>
                <ion-list>
                    <div class="padding">
                        <h5>Ingrese los datos del Perro.</h5>
                        <h5>Tome las 4 imágenes pedidas.</h5>
                        <h5>Deberá recortar el área de la nariz.</h5>
                        <h5>Al estar todo confirmado, podrá registrar su mascota</h5>
                    </div>
                </ion-list>
                <div class="padding">
                    <button class="button button-block button-positive" ng-click="newDog()">Entendido</button>
                </div>
        </ion-modal-view>
    </script>

    <script id="dogsScan.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar-secondary">
                <h1 class="title">Confirmar Perro</h1>
                <button class="button button-clear button-positive" ng-click="closeDogsScan()">Cancelar</button>
            </ion-header-bar>
            <ion-content>
                <div ng-if="dogsScanList.length">
                    <ion-list>
                        <ion-item class="alt item-thumbnail-left" ng-repeat="dog in dogsScanList">
                            <img ng-src="{{dog.photo}}">
                            <h2>{{dog.name}}</h2>
                            <p>{{dog.breed}}</p>
                        </ion-item>
                    </ion-list>
                </div>
                <div ng-if="!dogsScanList.length">
                    <div class="row">
                        <div class="col col-33 col-offset-33">No hubo coincidencias.</div>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <!-- NgImgCrop modal script -->
    <script id="imgCrop.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar-secondary">
                <h1 class="title">Cortar y confirmar</h1>
                <button class="button button-clear button-positive" ng-click="getPhoto()">Retomar</button>
            </ion-header-bar>
            <ion-content>
                <div class="cropArea">
                    <img-crop image="picFile" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
                </div>
                <div>
                    <img ng-src="{{croppedDataUrl}}" />
                </div>
                <button ng-click="upload(croppedDataUrl)" class="button button-block button-positive">Confirmar</button> 
            
            </ion-content>
        </ion-moda-view>
    </script>
    <!-- Nose scan Button -->
    <ion-footer-bar align-title="center" class="bar-balanced">
        <h1 class="title">
            <button class="button button-clear" ng-click='getPhoto()'>
                <i class="icon ion-android-camera"></i> Escanear nariz
            </button>
        </h1>
    </ion-footer-bar>
</ion-view>